force-app/main/default/flows/Onboarding_Journey_Manager_Manager_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_curEmployee_Id_to_tc_EmployeeIds</name>
        <label>Add curEmployee Id to tc_EmployeeIds</label>
        <locationX>699</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>tc_EmployeeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curEmployee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_curEmployee_to_tc_EmployeeName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_curEmployee_to_tc_EmployeeName</name>
        <label>Add curEmployee to tc_EmployeeName</label>
        <locationX>699</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>tc_EmployeeName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_Employee_Ids.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Employee_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_curTransitionPlan_Id_to_tc_TransitionPlanIds</name>
        <label>Add curTransitionPlan Id to tc_TransitionPlanIds</label>
        <locationX>468</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>tc_TransitionPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curTransitionPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Transition_Plan_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_rcCurrentTasks</name>
        <label>Clear rcCurrentTasks</label>
        <locationX>50</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_Tasks_related_to_TPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Completed_Task_count</name>
        <label>Set Completed Task count</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>countCurrentCompletedTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Completed_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_onboarding_Tasks_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_curEmployee</name>
        <label>Set curEmployee</label>
        <locationX>699</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>curEmployee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Employee_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_curEmployee_Id_to_tc_EmployeeIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_curTransitionPlan</name>
        <label>Set curTransitionPlan</label>
        <locationX>468</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>curTransitionPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Transition_Plan_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_curTransitionPlan_Id_to_tc_TransitionPlanIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_Task_count</name>
        <label>Set Open Task count</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>countCurrentOpenTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Completed_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The count of tasks completed in the last 30 days.</description>
        <name>Set_Recently_Completed_count</name>
        <label>Set Recently Completed count</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>countRecentlyCompleted</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Tasks_from_last_30_days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_vUserId</name>
        <label>Set vUserId</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>vUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Record_for_Flow_User</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Completed_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Completed Tasks</label>
        <locationX>380</locationX>
        <locationY>1922</locationY>
        <assignNextValueToReference>currentItem_Filter_Completed_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Tasks_related_to_TPs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Completed_Tasks.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Completed_Task_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Open_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Open Tasks</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <assignNextValueToReference>currentItem_Filter_Open_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Tasks_related_to_TPs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Open_Tasks.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Open_Task_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Tasks_from_last_30_days</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Tasks from last 30 days</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <assignNextValueToReference>currentItem_Filter_Tasks_from_last_30_days</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Completed_Tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Tasks_from_last_30_days.ActivityDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>frmLast30Days</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Recently_Completed_count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Navigation_or_Task_selected</name>
        <label>Navigation or Task selected?</label>
        <locationX>182</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_Tasks_related_to_TPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Navigation selected</defaultConnectorLabel>
        <rules>
            <name>Task_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarSelectedTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_curTask</targetReference>
            </connector>
            <label>Task selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_onboarding_Tasks_found</name>
        <label>Open onboarding Tasks found?</label>
        <locationX>380</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Filter_Tasks_from_last_30_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Tasks Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_Tasks_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCurrentOpenTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Task_List</targetReference>
            </connector>
            <label>Yes Open Tasks Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_TPs_for_manager_employees</name>
        <label>Open TPs for manager employees?</label>
        <locationX>611</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>No_Open_Transition_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open TPs</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_TPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_open_Onboarding_Transition_Plans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Transition_Plan_Ids</targetReference>
            </connector>
            <label>Yes Open TPs</label>
        </rules>
    </decisions>
    <description>Open onboarding tasks assigned to the manager.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmLast30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <formulas>
        <name>frmMonth1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 30</expression>
    </formulas>
    <formulas>
        <name>frmMonth2DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 60</expression>
    </formulas>
    <formulas>
        <name>frmMonth3DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 90</expression>
    </formulas>
    <formulas>
        <name>frmWeek1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 5</expression>
    </formulas>
    <interviewLabel>Onboarding Journey Manager - Manager Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Journey Manager - Manager Tasks</label>
    <loops>
        <description>Extract the employee id&apos;s for the manager&apos;s direct reports and store them in tc_EmployeeIds</description>
        <name>Extract_Employee_Ids</name>
        <label>Extract Employee Ids</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Employees_for_this_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_curEmployee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_open_Onboarding_Transition_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_Transition_Plan_Ids</name>
        <label>Extract Transition Plan Ids</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_All_open_Onboarding_Transition_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_curTransitionPlan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Tasks_related_to_TPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Employees_for_this_Manager</name>
        <label>Get All Employees for this Manager</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Employee_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Record_for_Flow_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_open_Onboarding_Transition_Plans</name>
        <label>Get All open Onboarding Transition Plans</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_TPs_for_manager_employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Employee Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>wkdw__Employee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>tc_EmployeeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>wkdw__TransitionPlan__c</object>
        <sortField>wkdw__Employee__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All tasks related to the sub-set of Transition Plans and which are assigned to the manager.</description>
        <name>Get_All_Tasks_related_to_TPs</name>
        <label>Get All Tasks related to TPs</label>
        <locationX>380</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>tc_TransitionPlanIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_curTask</name>
        <label>Get curTask</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flow_from_Transition_Plan_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarSelectedTask.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record_for_Flow_User</name>
        <label>Get Employee Record for Flow User</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Employees_for_this_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_from_Transition_Plan_Task</name>
        <label>Get Flow from Transition Plan Task</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Task_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__DisplayName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_curTask.Subject</elementReference>
            </value>
        </filters>
        <object>wkdw__OnboardingTask__c</object>
        <outputAssignments>
            <assignToReference>vFlowTaskName</assignToReference>
            <field>wkdw__DisplayName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFlowAPIName</assignToReference>
            <field>wkdw__FlowAPIName__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>No_Open_Tasks</name>
        <label>No Open Tasks</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_HeaderFilteredTask</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Open_Tasks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Open_Tasks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_OnboardingImage4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Open_Tasks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgNoOpenTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;There are no open onboarding tasks for any of your direct reports.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>headerCompletedTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 7, 11); font-size: 18px;&quot;&gt;Recently Completed Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countRecentlyCompleted</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_tableCompletedTasks</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Task</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Tasks_from_last_30_days</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;WhoId&quot;,&quot;guid&quot;:&quot;column-68e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Employee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0810&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Task Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-cee8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9325&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countRecentlyCompleted</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Open_Transition_Plans</name>
        <label>No Open Transition Plans</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_HeaderFilteredTask</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Open_Transition_Plans_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Open_Transition_Plans_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_OnboardingImage4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Open_Transition_Plans_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgNoOpenTPs</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;There are no open onboarding transition plans for any of your direct reports.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Task_List</name>
        <label>Open Task List</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_or_Task_selected</targetReference>
        </connector>
        <fields>
            <name>HeaderFilteredTask</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgOnboarding</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 7, 11);&quot;&gt;Good Onboarding Sets the Tone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We&apos;re glad you&apos;re here to help guide your New Hires!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Getting your new team members off to a good start sets the tone for the rest of their time on your team. According to the Society for Human Resource Management (SHRM), onboarding is a prime opportunity for employers to win the hearts and minds of new employees.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New hires who experience badly planned and executed onboarding may conclude that the organization is poorly managed and decide that it was a mistake to take the job. This is particularly true of impressionable Millennials who may be new to the workforce and unclear about what to expect. Rather than setting new employees up for success, organizations with poor onboarding processes are setting the stage for an early exit.&amp;nbsp;Nearly one-third of all new hires quit their jobs within the first six months.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Open_Task_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Open_Task_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Open_Task_List_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titleOpenTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 11, 18); font-size: 18px;&quot;&gt;Open Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OpenTaskHelpText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 11, 18);&quot;&gt;Select the individual task that you&apos;d like to open and select the next button.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>tableOpenTasks</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Task</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Open_Tasks</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2dd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Task Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-c8ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-6b75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>rvarSelectedTask</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NoOpenText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No open tasks&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>titleCompletedTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 7, 11);&quot;&gt;Completed Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentCompletedTasks</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>tableCompletedTasks</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Task</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Completed_Tasks</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0810&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Task Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-cee8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9325&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentCompletedTasks</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Task_Flow</name>
        <label>Selected Task Flow</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_rcCurrentTasks</targetReference>
        </connector>
        <fields>
            <name>HeaderSelectedTaskFlow</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Task_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selected_Task_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage5</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Task_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flow_button</name>
                    <extensionName>c:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonClass</name>
                        <value>
                            <stringValue>slds-align_absolute-center slds-button_stretch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <elementReference>vFlowTaskName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>doFlowActionWhenSubflowCompletes</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_curTask.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlign</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFlowInModal</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>launchFlowOnInit</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowToLaunch</name>
                        <value>
                            <elementReference>vFlowAPIName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_vUserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countAllOpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentCompletedTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentOpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth1Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth2Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth3Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRecentlyCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countWeek1Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>curEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>curFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Completed_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Completed_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Open_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Open_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Tasks_from_last_30_days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Month_3_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__OnboardingTemplateTask__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Week_1_Assigned_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Week_1_Template_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__OnboardingTemplateTask__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>curTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>curTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curTransitionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__TransitionPlan__c</objectType>
    </variables>
    <variables>
        <name>rcCurrentCompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcCurrentOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcCurrentTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth1Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth2Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth3Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcRecentlyCompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcWeek1Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rvarSelectedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tc_EmployeeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tc_EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tc_EmployeeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tc_EmployeesWithTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tc_TransitionPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcPathSelections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Onboarding Journey</stringValue>
        </value>
    </variables>
    <variables>
        <name>vQuickChoiceMasterLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Filter tasks by making a selection</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTask2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskNameWithFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTransitionPlanEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
