force-app/main/default/flows/Onboarding_Task_Review_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ConfirmationPage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailsCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[Sample] {!GetEmployeeRecords.FirstName} {!GetEmployeeRecords.LastName} has reviewed onboarding documents.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddEmails</name>
        <label>AddEmails</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>EmailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetEmployeeRecords.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetEmployeeRecords.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetEmployeeRecords.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_taskId_recordId</name>
        <label>Set taskId = recordId</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>taskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status</name>
        <label>Update Task Status</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>OpenNewBrowserIcon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/wkdw__Open_new_browser_icon?&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_task_status</name>
        <label>Check task status</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>GetEmployeeRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task outstanding</defaultConnectorLabel>
        <rules>
            <name>Task_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_screen</targetReference>
            </connector>
            <label>Task completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recordId_null</name>
        <label>Is recordId null?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>recordId is null</defaultConnectorLabel>
        <rules>
            <name>recordId_is_NOT_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_taskId_recordId</targetReference>
            </connector>
            <label>recordId is NOT null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IAgree</name>
        <dataType>Boolean</dataType>
        <expression>{!Checkbox1} = FALSE</expression>
    </formulas>
    <interviewLabel>Onboarding Task - Review Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Task - Review Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_task_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmployeeRecords</name>
        <label>GetEmployeeRecords</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_0</name>
        <label>Update Task</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationPage</name>
        <label>ConfirmationPage</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Task_0</targetReference>
        </connector>
        <fields>
            <name>TSD3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Task.Subject}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Page_Content</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An email has been sent to you and your manager.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigation_Buttons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Mark_Task_As_Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Documents</name>
        <label>Review Documents</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <fields>
            <name>TSD</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Task.Subject}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PostInstallStep3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 3, 3);&quot;&gt;POST INSTALL SETUP STEP&lt;/strong&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt; - Complete SSO Integration to HRIS, LMS, or Performance Management system(s). Update the below URLs and/or add any other links in this component with any other desired content.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderTop</name>
            <fieldText>&lt;p&gt;About Us&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Body1</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.google.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Employee Handbook&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Please take some time to familiarize yourself with our company policies and guidelines.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox1</name>
            <dataType>Boolean</dataType>
            <fieldText>Got it!</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You need to agree to submit.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Checkbox1} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Body2</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.google.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Acknowledge and Sign&lt;/a&gt;&lt;/p&gt;&lt;p&gt;I have read and understand our company&apos;s polices and guidelines.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox2</name>
            <dataType>Boolean</dataType>
            <fieldText>Got it!</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You need to agree to submit.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Checkbox2} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Body3</name>
            <fieldText>&lt;p&gt;Click Submit and we’ll send you and your manager an email confirming your review of this information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Submit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_screen</name>
        <label>Thank you screen</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TSD2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Task.Subject}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complete_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You completed this task on {!Get_Task.CompletedDateTime}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Way to knock things off your list. Keep it up!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_recordId_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Sample] {!GetEmployeeRecords.FirstName} {!GetEmployeeRecords.LastName}&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; &lt;/span&gt;has confirmed that they have read &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Company history &lt;/span&gt;and Company holidays documents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Sample] Here’s the information that was provided on the screen.&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!Body1}&lt;/p&gt;&lt;p&gt;{!Body2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Sample]This email was sent by an automated process from the onboarding flow Review_Documents.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
