force-app/main/default/flows/Onboarding_Journey_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Clear_rcCurrentTasks</name>
        <label>Clear rcCurrentTasks</label>
        <locationX>446</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_Based_on_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_countAllOpenTasks</name>
        <label>Set countAllOpenTasks</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>countAllOpenTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Assigned_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_open_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RC_and_Count_for_Filters</name>
        <label>Set RC and Count for Filters</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentOpenTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Current_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countCurrentOpenTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Current_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcCurrentCompletedTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Current_Completed_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countCurrentCompletedTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Current_Completed_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rcCurrentTasks_Month_1</name>
        <label>Set rcCurrentTasks = 30 day</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Month_1_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countMonth1Tasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Month_1_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Current_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rcCurrentTasks_Month_2</name>
        <label>Set rcCurrentTasks = 60 Day</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Month_2_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countMonth2Tasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Month_2_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Current_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rcCurrentTasks_Month_3</name>
        <label>Set rcCurrentTasks = 90 day</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Month_3_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countMonth3Tasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Month_3_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Current_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rcCurrentTasks_Week_1</name>
        <label>Set rcCurrentTasks = Week 1</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>rcCurrentTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Week_1_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countWeek1Tasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Week_1_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Current_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_tcPathSelections</name>
        <label>Set tcPathSelections</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>tcPathSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Week 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tcPathSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>30 Days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tcPathSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>60 Days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tcPathSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>90 Days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transition_Plan_Effective_Date</name>
        <label>Set Transition Plan Effective Date</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vTransitionPlanEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.wkdw__EffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_Transition_Plan_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_vUserId</name>
        <label>Set vUserId</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>vUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Record_for_Flow_User</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Current_Completed_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current Completed Tasks</label>
        <locationX>578</locationX>
        <locationY>1934</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_Completed_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcCurrentTasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_Completed_Tasks.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_RC_and_Count_for_Filters</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Current_Open_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current Open Tasks</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_Open_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcCurrentTasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_Open_Tasks.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Current_Completed_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_open_tasks</name>
        <label>Are there open tasks?</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>No_Open_Tasks_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No open tasks</defaultConnectorLabel>
        <rules>
            <name>Yes_open_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countAllOpenTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_tcPathSelections</targetReference>
            </connector>
            <label>Yes open tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigate_Based_on_Path</name>
        <label>Navigate Based on Path</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Week_1_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Week_1_Tasks</targetReference>
            </connector>
            <label>Week 1 Selected</label>
        </rules>
        <rules>
            <name>Month_1_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30 Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Month_1_Tasks</targetReference>
            </connector>
            <label>30 Days Selected</label>
        </rules>
        <rules>
            <name>Month_2_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60 Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Month_2_Tasks</targetReference>
            </connector>
            <label>60 Days Selected</label>
        </rules>
        <rules>
            <name>Month_3_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90 Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Month_3_Tasks</targetReference>
            </connector>
            <label>90 Days Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Transition_Plan_found</name>
        <label>Onboarding Transition Plan found?</label>
        <locationX>1304</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>No_Onboarding_Plan_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Plan Found</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Plan_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transition_Plan_for_this_Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Tasks</targetReference>
            </connector>
            <label>Onboarding Plan Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_or_Task_selected</name>
        <label>Path or Task selected?</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_Based_on_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Path selected</defaultConnectorLabel>
        <rules>
            <name>Task_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarSelectedTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_curTask</targetReference>
            </connector>
            <label>Task selected</label>
        </rules>
    </decisions>
    <description>Displays open and closed onboarding tasks.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmMonth1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 30</expression>
    </formulas>
    <formulas>
        <name>frmMonth2DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 60</expression>
    </formulas>
    <formulas>
        <name>frmMonth3DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 90</expression>
    </formulas>
    <formulas>
        <name>frmWeek1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!vTransitionPlanEffectiveDate} + 5</expression>
    </formulas>
    <interviewLabel>Onboarding Journey Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Journey Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assigned_Tasks</name>
        <label>Get Assigned Tasks</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_countAllOpenTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_curTask</name>
        <label>Get curTask</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flow_from_Transition_Plan_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarSelectedTask.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record_for_Flow_User</name>
        <label>Get Employee Record for Flow User</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transition_Plan_for_this_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_from_Transition_Plan_Task</name>
        <label>Get Flow from Transition Plan Task</label>
        <locationX>446</locationX>
        <locationY>2534</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Task_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__DisplayName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_curTask.Subject</elementReference>
            </value>
        </filters>
        <object>wkdw__OnboardingTask__c</object>
        <outputAssignments>
            <assignToReference>vFlowTaskName</assignToReference>
            <field>wkdw__DisplayName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFlowAPIName</assignToReference>
            <field>wkdw__FlowAPIName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Month_1_Tasks</name>
        <label>Get 30 Days Tasks</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rcCurrentTasks_Month_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>frmMonth1DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>frmMonth2DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Month_2_Tasks</name>
        <label>Get 60 Days Tasks</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rcCurrentTasks_Month_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>frmMonth2DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>frmMonth3DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Month_3_Tasks</name>
        <label>Get 90 Days Tasks</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rcCurrentTasks_Month_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>frmMonth3DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transition_Plan_for_this_Employee</name>
        <label>Get Transition Plan for this Employee</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Transition_Plan_Effective_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Employee Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>wkdw__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Record_for_Flow_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wkdw__TransitionPlan__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Week_1_Tasks</name>
        <label>Get Week 1 Tasks</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rcCurrentTasks_Week_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transition_Plan_for_this_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frmWeek1DueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Description</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Filtered_Task_List</name>
        <label>Filtered Task List</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Path_or_Task_selected</targetReference>
        </connector>
        <fields>
            <name>HeaderFilteredTask</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filtered_Task_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Filtered_Task_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Filtered_Task_List_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FilteredTaskPath</name>
                    <extensionName>c:directNavigationHeader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>targetStringCollection</name>
                        <value>
                            <elementReference>tcPathSelections</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vSelectedPath</assignToReference>
                        <name>selectedTarget</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>titleOpenTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 11, 18);&quot;&gt;{!vSelectedPath} Open Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OpenTaskHelpText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 11, 18);&quot;&gt;Select the individual task that you&apos;d like to open and select the next button.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NoOpenText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No open tasks&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>tableOpenTasks</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Task</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>rcCurrentOpenTasks</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2dd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Task Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-c8ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-6b75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>rvarSelectedTask</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentOpenTasks</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>titleCompletedTasks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 7, 11); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!vSelectedPath} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 7, 11); font-size: 18px;&quot;&gt;Completed Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentCompletedTasks</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>tableCompletedTasks</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Task</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>rcCurrentCompletedTasks</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0810&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Task Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-cee8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9325&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCurrentCompletedTasks</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderFinishScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finish_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finish_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>textSeeYouSoon</name>
                    <fieldText>&lt;p&gt;See you real soon!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Onboarding_Plan_Screen</name>
        <label>No Onboarding Plan Screen</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderNoOnboardingPlan</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 7, 11); font-size: 18px;&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgNoOnboardingPlan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You don&apos;t have any onboarding tasks assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Open_Tasks_Screen</name>
        <label>No Open Tasks Screen</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_HeaderStartScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Open_Tasks_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Open_Tasks_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Open_Tasks_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>textJourneyCompleted</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); font-size: 18px;&quot;&gt;Congratulations!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;ve completed all your onboarding tasks.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Task_Flow</name>
        <label>Selected Task Flow</label>
        <locationX>446</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_rcCurrentTasks</targetReference>
        </connector>
        <fields>
            <name>HeaderSelectedTaskFlow</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 5, 8);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Task_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selected_Task_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage5</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Task_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedTaskFlowPath</name>
                    <extensionName>c:directNavigationHeader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>targetStringCollection</name>
                        <value>
                            <elementReference>tcPathSelections</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vSelectedPath</assignToReference>
                        <name>selectedTarget</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Flow_button</name>
                    <extensionName>c:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonClass</name>
                        <value>
                            <stringValue>slds-align_absolute-center slds-button_stretch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <elementReference>vFlowTaskName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>doFlowActionWhenSubflowCompletes</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_curTask.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlign</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFlowInModal</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>launchFlowOnInit</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowToLaunch</name>
                        <value>
                            <elementReference>vFlowAPIName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_Based_on_Path</targetReference>
        </connector>
        <fields>
            <name>HeaderStartScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 3, 5);&quot;&gt;{!vFlowTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Start_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingImage2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EEOnboarding</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HomePath</name>
                    <extensionName>c:directNavigationHeader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>targetStringCollection</name>
                        <value>
                            <elementReference>tcPathSelections</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vSelectedPath</assignToReference>
                        <name>selectedTarget</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>textTrailGuide</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 7, 11);&quot;&gt;Your Onboarding Journey&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We&apos;re glad you&apos;re here!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Trail Guide provides a New Hire with guidance, support, information, and coaching during their first 90 days. Having a Trail Guide is an important part of ramping up successfully! Trail Guides are assigned to all Full-Time Employees (FTE) by their Hiring Manager through the New Hire Wizard.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Simply click on one of the options above to view the tasks that should be completed in Week 1, Month 1, etc.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_vUserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countAllOpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentCompletedTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentOpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCurrentTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth1Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth2Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonth3Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countWeek1Tasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>curFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Completed_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Open_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Month_3_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__OnboardingTemplateTask__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Week_1_Assigned_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Week_1_Template_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__OnboardingTemplateTask__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>curTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcCurrentCompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcCurrentOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcCurrentTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth1Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth2Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcMonth3Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rcWeek1Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rvarSelectedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tcPathSelections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Onboarding Journey</stringValue>
        </value>
    </variables>
    <variables>
        <name>vQuickChoiceMasterLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Filter tasks by making a selection</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTask2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskNameWithFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTransitionPlanEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
